@font-face {
  font-family: 'Outfit-bold';
  src: url('./fonts/static/Outfit-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes dots {

  0%,
  20% {
    content: ".";
  }

  40% {
    content: "..";
  }

  60% {
    content: "...";
  }
}

#root {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.container {
  border: 1px solid white;
  width: 100vw;
  height: 100vh;
  max-height: 100vh;
}

.button {
  font-family: 'Outfit-bold', sans-serif;
  font-size: clamp(2.5rem, 2.2245rem + 2.2039vw, 2.5rem);
  width: 70%;
  height: 4.5rem;
  margin-left: 15%;
}

/*  font-size: clamp(1.5rem, 1.2245rem + 2.2039vw, 2.5rem);*/

/* Styles for Title Component */

.small-title {
  font-family: 'Outfit-bold', sans-serif;
  color: white;
  line-height: 0.75em;
  font-size: clamp(2.25rem, 1.375rem + 4.6667vw, 4rem);
  text-align: right;
  margin: 0 auto;
  padding-right: 10%;
}

.big-title {
  font-family: 'Outfit-bold', sans-serif;
  color: white;
  line-height: 0.75em;
  font-size: clamp(4.5rem, 2.25rem + 12vw, 9rem);
  text-align: right;
  margin: 0 auto;
  word-wrap: none;
  width: auto;
  padding-right: 10%;
}

/* Styles for Start Screen component*/
.start-screen {
  background: linear-gradient(-65deg, #FF86B3 0%, #FF86B3 60%, #FFE84A 0%, #FFE84A 20%);
}

.donuts-container {
  background-image: url('./assets/sparkles.svg');
  background-size: 34rem;
  background-repeat: no-repeat;
  background-origin: border-box;
  background-position: left 5rem bottom 5rem;
  height: 50%;
}

.donut-unicorn-dust {
  background-image: url('./assets/unicorn_dust.svg');
  background-position: left -3rem bottom 2rem;
  background-repeat: no-repeat;
  height: 50%;
}

.donut-true-blood {
  background-image: url('./assets/true_blood.svg');
  background-repeat: no-repeat;
  background-position: right -1rem bottom 0rem;
  height: 60%;
  margin-top: -20%;
}

.start-button {
  position: absolute;
  font-size: 3rem;
  bottom: 20px;
}


.title-start-screen {
  position: absolute;
  bottom: 20%;
}

/* Style Donut Component */

.donut-name {
  font-family: 'Outfit-bold', sans-serif;
  position: absolute;
  width: 40%;
  margin-left: 10%;
  margin-top: 2rem;
  color: white;
  line-height: 1em;
  font-size: clamp(1.5rem, -0.2308rem + 9.2308vw, 2.25rem);
  text-align: right;

}


.donut-svg {
  position: absolute;
  margin-left: 60%;
  width: 8rem;
  animation: rotation 5s linear infinite;
  filter: drop-shadow(10px 10px 10px rgb(0 0 0 / 0.5));
}


/* Style Menu Screen Component */
.menu-screen {
  background-color: #21E8E5;
}

.title-menu-screen{
  margin-top: 10%;
}

.donut-menu {
  height: 70%;
  max-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* Style Payment Screen*/
.payment-screen {
  background-color: #FF86B3;
  position: relative;
}

.title-payment-screen {
  margin-top: 8rem;
  margin-bottom: 3rem;
}

.pay-button {
  margin: 5% 15%;
}

.title-h3 {
  width: 80%;
  margin: 0 auto;
  text-align: right;
  font-family: 'Outfit-bold', sans-serif;
  color: white;
  line-height: 1em;
  font-size: clamp(3.25rem, 1.375rem + 4.6667vw, 4.25rem);
}

.donuts-bottom-container {
  position: absolute;
  display: flex;
  flex-direction: row;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.donut-dust {
  width: 50%;
  height: 100%;
  background-image: url('./assets/unicorn_dust.svg');
  background-position: right -5rem bottom -6rem;
  background-repeat: no-repeat;
}

.donut-sky-shaped {
  width: 50%;
  height: 100%;
  background-image: url('./assets/sky_shaped.svg');
  background-repeat: no-repeat;
  background-position: left -6rem bottom 4rem;
}

/* Style Preparation Screen */
.preparation-screen {
  background-color: #FFE84A;
  background-image: url('./assets/sparkles.svg');
  background-position: center top 5vh;
  background-repeat: no-repeat;
  background-size: 90%;
}

.big-donut {
  margin: 0 auto;
  margin-top: 30%;
}

.donut-svg-big {
  width: 65%;
  animation: rotation 5s linear infinite;
  margin-left: 17.5%;
  filter: drop-shadow(25px 15px 10px rgb(0 0 0 / 0.5));
}


.preparing-title {
  font-size: clamp(1.5rem, 2.2245rem + 2.2039vw, 2.5rem);
  font-family: 'Outfit-bold', sans-serif;
  color: white;
  text-align: center;
  width: 50%;
  position: absolute;
  bottom: 25vh;
  margin-left: 25%;
}

.preparing-title::after {
  content: "...";
  animation: dots 1s linear infinite;
}

/* Style Ready Screen*/
.ready-screen {
  background: linear-gradient(55deg, #5739D6 0%, #5739D6 60%, #21E8E5 0%, #21E8E5 20%);
}

.ready-title {
  font-family: 'Outfit-bold', sans-serif;
  color: white;
  text-align: right;
  position: absolute;
  width: 90%;
  bottom: 13rem;
  margin: 20% auto auto 5%;
  font-size: clamp(1.5rem, 2.2245rem + 2.2039vw, 2.2rem);
}

.ready-button {
  position: absolute;
  font-size: 3rem;
  bottom: 6rem;
}

@media (min-width: 900px) {
  .container {
    width: 426px;
    height: 926px;
  }
  .big-title {
    font-size: 72px;
  }
  .small-title {
    font-size: 36px;
  }
  .donut-name {
    font-size: 36px;
  }
  .title-h3 {
    font-size: 44px;
  }
}